@model IEnumerable<WebApplication.Models.DTOS.AccountDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Accounts List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Account" asp-action="CreateAccount" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i>   Create New Account</a>
        </div>
    </div>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>
                    Account Number Generated
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Account Balance
                </th>
                <th>
                    Latest Date
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AccountNumberGenerated</td>
                    <td>@item.FirstName</td>
                    <td>@item.CurrentAccountBalance</td>
                    <td>@item.DateLastUpdated</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-controller="Account" asp-route-accountID="@item.AccountId" asp-action="UpdateAccount" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>  Update Account</a>
                        <a asp-controller="Account" asp-route-accountID="@item.AccountId" asp-action="DeleteAccount" class="btn btn-outline-primary"><i class="bi bi-trash-fill"></i> Delete Account</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>